---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Landing-header.astro';
import ListItems from '../components/Landing-listItems.astro';
import Footer from '../components/Landing-footer.astro';

const data = await fetch('https://api.escuelajs.co/api/v1/products/?categoryId=1&offset=0&limit=20').then(res => res.json())
---

<Layout stylesheet="shop" title="YOUProject - ASTRO">

    <div class="wrapper">
        <Header root="shop"/>

        <main>
            <div class="listItems-div">
                {
                    data.map((item) => (
                            <ListItems
                                    src={item.images}
                                    title={item.title}
                                    price={item.price}
                            />
                    ))
                }
            </div>

            <Footer/>
        </main>

    </div>

</Layout>