---

---

<section class="child-container footer">
    <main>
        <div class="home_newslater">
            <p>JOIN OUR NEWSLATER</p>
            <form>
                <div>
                    <input required type="text" placeholder="Insert your gmail...">
                    <button type="submit">SEND</button>
                </div>
            </form>
        </div>

        <div class="home_social-network">
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">YouTube</a></li>
            </ul>
        </div>
    </main>

    <div class="home_legal">
        <ul>
            <li><a href="#">ADVERTISING AND COOKIES POLICY</a></li>
            <li><a href="#">CONDITIONS OF PURCHASE</a></li>
        </ul>
    </div>
</section>