---

export interface Props{
    root?: string;
}

let {root} = Astro.props

---


<header class={'home-header '+root}>
    <nav class="navbar menu">
        <div class="container-fluid">
            <button class="navbar-toggler border-0 btn-landing-nav btn-nav-hamburguer" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars" style="color: #000000;"></i>
            </button>
            <div class="offcanvas offcanvas-end div-nav" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body landing-nav-options">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="" aria-current="page" href="/clothingShop_Astro/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="" href="/clothingShop_Astro/shop">SHOP</a>
                        </li>
                        <li class="nav-item">
                            <a class="" href="#">NEW SEASON</a>
                        </li>
                        <li class="nav-item btn-mobile">
                            <a class="" href="#">LOGIN</a>
                        </li>
                        <li class="nav-item btn-mobile">
                            <a class="" href="#">HELP</a>
                        </li>
                        <li class="nav-item btn-mobile">
                            <a class="" href="https://github.com/Elcheno">GITHUB</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="logo">
        <a href="/clothingShop_Astro/">YOU<span>Project</span></a>
    </div>
    <div class="nav-bar">
        <ul>
            <li class="btn-nav"><a href="#">LOGIN</a></li>
            <li class="btn-nav"><a href="#">HELP</a></li>
            <li class="btn-nav"><a href="#"><i class="fa-solid fa-bag-shopping" style="color: #000000;"></i></a></li>
            <li>
                <a href="https://github.com/Elcheno" target="_blank">
                    <button data-text="Awesome" class="git-btn">
                        <span class="actual-text">&nbsp;GITHUB&nbsp;</span>
                        <span class="hover-text" aria-hidden="true">&nbsp;GITHUB&nbsp;</span>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</header>

<style>
    .shop{
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(6px);
    }

    .home-header{
        position: fixed;
        z-index: 1;
        display: flex;
        flex-flow: row nowrap;
        width: 100vw;
    }

    .home-header .menu{
        background-color: transparent;
        width: fit-content;
        margin: 2vw 2vh;
    }

    .btn-nav-hamburguer{
        z-index: 1;
        box-shadow: none!important;
    }

    .btn-nav-hamburguer i{
        font-size: 2rem;
    }

    .div-nav{
        background-color: rgba(255, 255, 255, 0.7)!important;
        backdrop-filter: blur(5px);
        height: 100vh;
    }

    .nav-item{
        transition: margin-left 0.2s;
    }

    .nav-item:hover{
        margin-left: 1rem;
    }

    .nav-item a{
        text-decoration: none;
        color: black;
        font-size: 2rem;
        font-family: "Century Gothic", -apple-system, serif;
    }

    .home-header .logo a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.9);
        font-family: Italiana, -apple-system, serif;
        letter-spacing: -15px;
        transition: letter-spacing 0.4s;
    }

    .home-header .logo a span{
        letter-spacing: -10px;
        transition: letter-spacing 0.4s;
    }

    .home-header .logo:hover a{
        letter-spacing: -16px;
    }

    .home-header .logo:hover span{
        letter-spacing: -11px;
    }

    .home-header .nav-bar{
        width: 100%;
    }

    .home-header .nav-bar ul{
        list-style-type: none;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .home-header .nav-bar ul li{
        font-size: 1.5rem;
        margin-left: 2rem;
        padding: 0.5rem;
        font-family: "Century Gothic", -apple-system, serif;
    }

    .home-header .nav-bar ul li:hover{
        cursor:pointer;
    }

    .home-header .nav-bar ul li a{
        color: black;
        text-decoration: none;
    }

    .btn-nav{
        border-radius: 6px;
        transition: background-color 0.3s;
    }

    .btn-nav:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }

    /* BOTON DE GITHUB(UIVERSE) */
    .git-btn {
        color: black;
        margin: 0;
        height: auto;
        background: transparent;
        padding: 0;
        border: none;
        font-size: 1.5rem;
    }

    .git-btn {
        --border-right: 6px;
        --text-stroke-color: rgba(0, 0, 0, 0.8);
        --animation-color: #000000;
        --fs-size: 2em;
        letter-spacing: 3px;
        text-decoration: none;
        font-family: "Century Gothic", -apple-system, serif;
        position: relative;
        text-transform: uppercase;
        -webkit-text-stroke: 1px var(--text-stroke-color);
    }

    .hover-text {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: var(--animation-color);
        width: 0%;
        inset: 0;
        border-right: var(--border-right) solid var(--animation-color);
        overflow: hidden;
        transition: 0.5s;
        -webkit-text-stroke: 1px var(--animation-color);
    }

    .git-btn:hover .hover-text {
        width: 100%;
        filter: drop-shadow(0 0 23px var(--animation-color))
    }
</style>