
<header class="home-header">
    <div class="menu">
        <i class="fa-solid fa-bars" style="color: rgba(0,0,0,0.65);"></i>
    </div>
    <div class="logo">
        <a href="#">YOU<span>Project</span></a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="#">LOGIN</a></li>
            <li><a href="#">HELP</a></li>
            <li><a href="#"><i class="fa-solid fa-bag-shopping" style="color: #000000;"></i></a></li>
            <li>
                <a href="https://github.com/Elcheno" target="_blank">
                    <button data-text="Awesome" class="git-btn">
                        <span class="actual-text">&nbsp;GITHUB&nbsp;</span>
                        <span class="hover-text" aria-hidden="true">&nbsp;GITHUB&nbsp;</span>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</header>