.wrapper{
    background-color: #e0e0e0;
    overflow-x: hidden;
}

main{
    z-index: 5;
    overflow: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    width: 100vw;
}


.listItems-div{
    height: 100vh;
    width: 85vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 25vh;
    gap: 2rem;
    overflow: scroll;
}

.listItems-div::-webkit-scrollbar{
    width: 0;
}

.listItems-div::-webkit-scrollbar-thumb{
    width: 0;
}




/* --------- MEDIA QUERYS --------- */

@media only screen and (min-width: 360px) {
    .nav-bar {
        display: none;
    }

    .btn-mobile {
        display: block;
    }

    .logo a {
        font-size: 4.5rem;
    }

    .logo a span {
        font-size: 3.5rem;
        letter-spacing: -5px;
    }

    .footer .home_newslater input {
        width: 50vw;
    }

    .footer .home_social-network ul {
        flex-flow: column;
    }
}

@media only screen and (min-width: 768px){
    .nav-bar{
        display: flex;
    }

    .nav-bar ul{
        flex-flow: column;
    }

    .btn-mobile{
        display: none;
    }
    .logo a{
        font-size: 7.5rem;
    }

    .logo a span{
        font-size: 6rem;
    }
}

@media only screen and (min-width: 1024px) {
    .logo a {
        font-size: 8rem;
    }

    .logo a span {
        font-size: 7rem;
    }

    .nav-bar ul {
        flex-flow: row nowrap;
        margin-right: 5rem;
    }

    .footer .home_newslater input {
        width: 30vw;
    }

    .footer .home_social-network ul {
        flex-flow: row nowrap;
    }
}